@import "../../styles/colors.scss";

.block-light {
    height: 60px;
    width: 60px;
    background-size: cover;
    margin: 1rem;
    background-image: url("../../images/Bitcoin.svg");
    animation: 8s rainDown ease;
    position: absolute;
    visibility: hidden;
}

.block-dark {}

.transaction-light {
    // top: 0;
    height: 30px;
    width: 30px;
    margin: 1rem;
    background-image: url("../../images/Bitcoin.svg");
    background-size: cover;
    animation: 5s rainDown;
    position: absolute;
    visibility: hidden;
}

.transaction-dark {}

@keyframes rainDown {
    0% {
        top: 0;
        visibility: visible;
    }

    100% {
        top: 92vh;
    }
}